# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Banco de dados
*.db
*.sqlite3

# Dados
data/raw/*
data/processado/*.json
!data/raw/.gitkeep
!data/processado/.gitkeep

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/

# Datasets grandes
*.csv